<div class="container header-chat">
  <h1>Chat</h1>
</div>

<div class="d-flex flex-row justify-content-between p-3 adiv text-white">
  <i class="fas fa-chevron-left"></i>
  <span class="pb-3">Live chat</span>
  <i class="fas fa-times"></i>
  </div>
<hr>

<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let chat of _cs.chats"
        [ngClass]="{ 'text-end': _cs.usuario.uid == chat.uid }">
    <span class="badge bg-success"
          [ngClass]="{ 'bg-success': _cs.usuario.uid == chat.uid,
                        'bg-info': _cs.usuario.uid != chat.uid }">
          {{ chat.nombre }}
    </span>
    <p>
      {{ chat.mensaje }}
    </p>
  </div>
  <!-- <div>
    <span class="badge bg-success">Angel</span>
    <p>
      Mensaje de muestra
    </p>
  </div>

  <div class="text-end">
    <span class="badge bg-info">Angel</span>
    <p>
      Mensaje de muestra
    </p>
  </div> -->

</div>

<input type="text" name="mensaje"
        [(ngModel)]="mensaje"
        class="form-control"
        (keyup.enter)="enviarMensaje()"
        placeholder="Enviar Mensaje">
